# ZMK Workspace & Local Build Outputs
.build
.direnv
.west
build/
firmware
modules
zephyr
zmk

# Keymap Drawer Artifacts
draw/base.yaml
draw/overview.yaml

# OS & File System Artifacts
*:Zone.Identifier
Thumbs.db
desktop.ini
.DS_Store