//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors/num_word.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE        0
#define SYMUTIL     1
#define SYMNAV      2
#define NUM         3
#define FUN         4
#define SAI         5

&sk {
    release-after-ms = <900>;
    quick-release;

    /delete-property/ ignore-modifiers;
};

&sl { ignore-modifiers; };

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
    hold-trigger-key-positions = <20>;
};

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 8 18 29 9 19 30 31 35 36 37 32 33 34>;
        };

        hml_und: homerow_mods_left_undecided {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_UNDECIDED";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 8 18 29 9 19 30 31 35 36 37 32 33 34>;
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 21 22 23 24 25 32 33 20 34 35 36 37>;
        };

        sk_shift_td: sk_shift_td_cancel {
            compatible = "zmk,behavior-mod-morph";
            label = "SK_SHIFT_TD_CANCEL";
            bindings = <&sk LEFT_SHIFT>, <&kp K_CANCEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mo_sk_shift_td: mo_layer_sk_shift_td {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_LAYER_SK_SHIFT_TD";
            bindings = <&mo>, <&sk_shift_td>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
        };

        // Explicit local definition so the Keymap Editor recognizes &num_word

        num_word: num_word {
            compatible = "zmk,behavior-auto-layer";
            #binding-cells = <1>;
            continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL>;
            ignore-modifiers;
        };

        td_num_word: td_num_word {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUM_WORD";
            #binding-cells = <0>;
            bindings = <&none>, <&num_word NUM>;

            tapping-term-ms = <220>;
        };

        mo_td_num: mo_td_num {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TD_NUM";
            bindings = <&mo>, <&td_num_word>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 17>;
            layers = <0>;
            require-prior-idle-ms = <150>;
        };

        combo_escape {
            bindings = <&kp ESCAPE>;
            key-positions = <11 12>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        combo_delete {
            bindings = <&kp DELETE>;
            key-positions = <17 18>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        combo_delete_l {
            bindings = <&kp DELETE>;
            key-positions = <12 13>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        combo_return {
            bindings = <&kp RETURN>;
            key-positions = <16 17 18>;
            layers = <0>;
        };

        combo_return_l {
            bindings = <&kp RETURN>;
            key-positions = <11 12 13>;
            layers = <0>;
        };

        combo_pscrn {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <12 11>;
            layers = <1>;
        };

        combo_pause_l {
            bindings = <&kp C_PAUSE>;
            key-positions = <12 13>;
            layers = <1>;
        };

        combo_pause_r {
            bindings = <&kp C_PAUSE>;
            key-positions = <16 17>;
            layers = <2>;
        };

        combo_mute_l {
            bindings = <&kp C_MUTE>;
            key-positions = <22 23>;
            layers = <1>;
        };

        combo_mute_r {
            bindings = <&kp C_MUTE>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
       &kp Q            &kp W            &kp E                    &kp R                  &kp T        &kp Y         &kp U                &kp I                &kp O            &kp P
       &hml LEFT_GUI A  &hml LEFT_ALT S  &hml_und LEFT_CONTROL D  &hml_und LEFT_SHIFT F  &kp G        &kp H         &hmr LEFT_SHIFT J    &hmr LEFT_CONTROL K  &hmr LEFT_ALT L  &hmr LEFT_GUI SINGLE_QUOTE
&none  &kp Z            &kp X            &kp C                    &kp V                  &kp B        &kp N         &kp M                &kp COMMA            &kp DOT          &kp MINUS                   &none
                                         &none                    &lt 1 SPACE            &lt 3 TAB    &kp CAPSLOCK  &mo_sk_shift_td 2 0  &none
            >;
        };

        NumUtil {
            bindings = <
       &mt END LEFT_ARROW     &mt LC(HOME) UP_ARROW  &mt LC(END) DOWN_ARROW     &mt HOME RIGHT_ARROW     &none        &kp ASTERISK  &kp N7  &kp N8  &kp N9  &kp FSLH
       &hml (LEFT_GUI) LC(Z)  &hml (LEFT_ALT) LC(X)  &hml (LEFT_CONTROL) LC(C)  &hml (LEFT_SHIFT) LC(V)  &kp LC(Y)    &kp EQUAL     &kp N4  &kp N5  &kp N6  &kp DOT
&none  &kp C_PREVIOUS         &kp C_VOLUME_DOWN      &kp C_VOLUME_UP            &kp C_NEXT               &none        &kp PLUS      &kp N1  &kp N2  &kp N3  &kp MINUS  &none
                                                     &none                      &none                    &none        &kp CARET     &kp N0  &none
            >;

            label = "NumUtil";
        };

        SymNav {
            bindings = <
       &kp QUESTION        &kp PERCENT       &kp CARET               &kp AMPERSAND           &kp RA(SLASH)       &kp INSERT  &kp HOME        &kp PAGE_DOWN      &kp PAGE_UP      &kp END
       &hml LEFT_GUI EXCL  &hml LEFT_ALT AT  &hml LEFT_CONTROL HASH  &hml LEFT_SHIFT DOLLAR  &kp RA(NUMBER_1)    &tog 2      &kp LEFT_ARROW  &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT_ARROW
&none  &none               &kp GRAVE         &kp TILDE               &none                   &none               &none       &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT       &none
                                             &none                   &mo 1                   &none               &none       &none           &none
            >;

            label = "SymNav";
        };

        Sym {
            bindings = <
       &none         &none         &none             &none           &none    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp BACKSLASH
       &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none    &kp LESS_THAN     &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp RIGHT_BRACE  &kp PIPE
&none  &none         &none         &none             &none           &none    &kp RA(N)         &none                  &kp SEMICOLON      &kp COLON        &kp UNDERSCORE  &none
                                   &none             &none           &none    &none             &none                  &none
            >;

            label = "Sym";
        };

        Fun {
            bindings = <
       &kp F12            &kp F7            &kp F8                &kp F9              &none             &none  &kp F7              &kp F8                &kp F9            &kp F12
       &hml LEFT_GUI F11  &hml LEFT_ALT F4  &hml LEFT_CONTROL F5  &hml LEFT_SHIFT F6  &studio_unlock    &none  &hmr LEFT_SHIFT F4  &hmr LEFT_CONTROL F5  &hmr LEFT_ALT F6  &hmr LEFT_GUI F11
&none  &kp F10            &kp F1            &kp F2                &kp F3              &none             &none  &kp F1              &kp F2                &kp F3            &kp F10            &none
                                            &none                 &none               &none             &none  &none               &none
            >;

            label = "Fun";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        num_sym {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
